<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${name}">Turtle</title>
</head>
<body>
    <!--h1 th:text="${artist.getMasterPiece()}"></h1-->
    <h7 th:text="${ntName}">Turtle</h7><br>
    <h7 th:text="${ntColor} ">Color</h7><h7 th:text="${ntWeapon}">Weapon</h7><br>
    <br>
    <h7 th:text="${ntMasterPiece.title}">Pyramid</h7><br>
    <h7 th:text="${ntMasterPiece.location}">Giza</h7><br>
    <h7 th:text="${ntMasterPiece.year}">2020</h7><br>
    <br>
    <a href="/">home</a>
</body>
</html>